.title_container{
    background-color: darkmagenta;
    width: 100%;
    height: 15%;
    position: absolute;
    top: 0;
    left: 0%;
    display: block;
}
.title{
    position: absolute;
    left: 10%;
    bottom:8%;
    font-size:40px ;
}
.refresh{
    background-color: coral;
    position: absolute;
    top: 20%;
    right: 2%;
    height: 4vh;
    width:70px;
    padding: 5px;
}
.click{
    background-color: cornsilk;
}
.sign{
    background-color: darkmagenta;
    color: white;
    border: 0;
    font-size: 30px;
    position: absolute;
    top: 3%;
    left: 0;
}
.sign:hover{
    background-color: beige;
    color: black;
}
.slidebar{
    background-color: aqua;
    position:absolute;
    left:0;
    bottom: 0;
    height:100%;
    width: 10%;
    display: none;
    transition: all.5s ease;
}
.classes{
    position: absolute;
    bottom: 10%;
    width: 100%;
    background-color:aqua;
    border: 2px 0 solid black;
    height: 2em;
    font-size: 25px;
}
.classes:hover{
    background-color: grey;
}
.assign{
    position: absolute;
    bottom: 20%;
    width: 100%;
    background-color:aqua;
    font-size: 25px;
    border: 2px solid black;
    height: 2em;
}
.assign:hover{
    background-color: grey;
}
.open{
    display:block;
}
.closer{
    position: absolute;
    bottom: 0;
}
